a{
    color: #ffffff;
}
ul{
    list-style: none;
}
.search-bar{
    background-color: white;
}
.search-icon{
    border-radius: 50%;
}
input{
    border:none;
}
button{
    background-color: white
}