<div class="container-xxl py-2">
    <div class="row align-items-center">
        
        <!-- Logo + Search -->
        <div class="col-md-5 d-flex align-items-center gap-5">
            <img src="https://aquatikangels.com/assets/images/aquatic_logo.jpg" 
                 alt="logo" class="me-3" style="height:75px;">
            
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search products...">
                <button class="btn ">
                    <img src="search.png" 
                         alt="search" style="height:18px;">
                </button>
            </div>
        </div>
        
        <!-- Menu + Icons -->
        <div class="col-md-7 d-flex justify-content-between">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link fw-semibold" routerLink="/home" >HOME</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" routerLink="/about">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" routerLink="/aquascaping">AQUASCAPING</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" routerLink="/scape-it">SCAPE IT</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" routerLink="/shop">SHOP</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" routerLink="/contact">CONTACT</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item me-3">
                    <a href="#"><img src="https://aquatikangels.com/assets/Cart.webp" alt="cart" style="height:35px;"></a>
                </li>
                <li class="nav-item">
                    <a href="#"><img src="https://aquatikangels.com/assets/user-users.webp" alt="user" style="height:35px;"></a>
                </li>
            </ul>
        </div>
        
    </div>
</div>
